body {
  background-color: #E5D6D6;
}

.text1 {
  text-indent: 10px;
}

.text2 {
  background-color: #6F7F8C;
  padding: 20px;
}

.block1 {
  top: 100px;
  height: 300px;
  left: 10px;
  margin-top: 0px;
  background-color: #3E4D59;
  align-self: center;
  width: 350px;
  position: relative;
}

.block2 {
  left: 500px;
  bottom: 360px;
  height: 300px;
  margin-top: 150px;
  background-color: #6E9FA5;
  align-self: center;
  width: 350px;
  position: relative;
}

.block3 {
  left: 1000px;
  bottom: 820px;
  height: 300px;
  bottom: -700;
  top: -800;
  margin-top: 160px;
  background-color: #CC330D;
  align-self: center;
  width: 350px;
  position: relative;
}

.word1 {
  text-align: center;
}

.word2 {
  text-align: center;
}

.word3 {
  text-align: center;
}

.bitgraph {
  margin-right: 10px;
}

.block4 {
  left: 780px;
  top: 50px;
  position: relative;
  background-color: #56A5EC;
  width: 500px;
  height: 300x;
}

.block5 {
  position: relative;
  background-color: #5CB3FF;
  top: 100px;
  left: 780px;
  width: 500px;
  height: 200px;
}

.block6 {
  position: relative;
  background-color: #3BB9FF;
  top: auto;
  left: 800px;
  width: 210px;
  bottom: 40px;
  height: 80px;
}

.block7 {
  position: relative;
  background-color: #3BB9FF;
  width: 210px;
  height: 80px;
  left: 1050px;
  top: -100;
  bottom: 120px;
}

.position {
  background-color: #BDEDFF;
  height: 300px;
  width: 400px;
  left: 1000px;
  top: -500;
  bottom: 545px;
  position: relative;
}
